doctype html
html
  head
    title Akshay Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="https://www.downloadclipart.net/large/action-dance-transparent-background.png")
            li #[a(href="/") HOME]
            li #[a(href="/") ABOUT]
            li #[a(href="/") SERVICES]
            li #[a(href="/") MORE INFO]
            li #[a(href="/contact") CONTACT US]
    block content
    footer#footer
        | Copyright © 2019 AkshayDanceAcademy.com | All Rights Reserved